@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Cormorant Garamond", serif;

  --color-accent: #E2E2D5;
  --color-accent-glow: #E2E2D580;
}

@layer base {
  body {
    background-color: #09090b; /* zinc-950 */
    color: #fafafa; /* zinc-50 */
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
    font-weight: 300;
    letter-spacing: -0.025em;
  }
}

/* Lenis Recommended setup */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}