---
import { VerticalScanGrid } from "./VerticalScanGrid";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props;
---

<section
    class="w-full flex flex-col justify-start relative bg-transparent pointer-events-none"
>
    <VerticalScanGrid client:visible lang={lang} />
</section>
