---
import BenefitsGridStatic from "./BenefitsGridStatic.astro";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props;
---

<section
    class="w-full flex flex-col justify-start relative bg-transparent"
>
    <BenefitsGridStatic lang={lang} />
</section>
