---
import { VerticalScanGrid } from "./VerticalScanGrid";
---

<section
    class="w-full flex flex-col justify-start px-10 md:px-32 relative"
>
    <div class="w-full md:w-1/2">
        <VerticalScanGrid client:visible />
    </div>
</section>
