---

---

<section
    class="min-h-[100vh] w-full flex flex-col items-center justify-center px-10 md:px-32 relative bg-transparent"
>
    <div
        class="relative z-[60] w-full max-w-4xl text-center pointer-events-none drop-shadow-lg"
    >
        <h2
            class="text-4xl md:text-6xl font-serif text-zinc-50 tracking-tight leading-tight mb-12"
        >
            No cambia lo que haces.<br /><span class="text-zinc-400"
                >Cambia cómo lo vives.</span
            >
        </h2>
        <div
            class="text-lg md:text-2xl font-sans font-light text-zinc-300 max-w-2xl mx-auto space-y-6"
        >
            <p>
                No necesitas modificar tu rutina.<br />No necesitas aprender
                nada nuevo.
            </p>
            <p>
                Spoonergy™ se integra de forma natural en tu día a día,
                transformando cada interacción en una oportunidad de equilibrio.
            </p>
            <p class="text-zinc-500">
                Pequeños momentos.<br />Un impacto constante.
            </p>
        </div>
    </div>
</section>
