---
import FAQListStatic from "./FAQListStatic.astro";
import { useTranslations } from "../i18n/utils";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section
    id="questions"
    class="py-32 w-full flex flex-col items-center justify-center px-6 md:px-32 relative bg-transparent z-[60]"
>
    <div class="w-full max-w-3xl">
        <h2
            class="text-3xl md:text-4xl font-serif text-zinc-50 tracking-tight leading-tight mb-12 text-center"
        >
            {t('faq.title')}
        </h2>

        <FAQListStatic lang={lang} />
    </div>
</section>
