---

---

<section
    id="how-it-works"
    class="h-[150vh] w-full relative flex items-center justify-end overflow-hidden bg-transparent px-8 md:px-32"
>
    <!-- Macro metal background -->
    <div class="absolute inset-0 z-0">
        <!-- eslint-disable-next-line astro/jsx-a11y/img-redundant-alt -->
        <img
            src="/macro-metal.png"
            alt="Macro Metal Background"
            class="w-full h-full object-cover opacity-20 mix-blend-screen"
        />
        <div
            class="absolute inset-0 bg-gradient-to-t from-zinc-950 via-zinc-950/20 to-zinc-950"
        >
        </div>
    </div>

    <div
        class="relative z-[60] text-left md:text-right w-full md:w-1/2 mix-blend-difference mt-[10vh] pointer-events-none drop-shadow-xl"
    >
        <h2
            class="text-4xl md:text-6xl font-serif text-zinc-50 tracking-tight leading-tight mb-8"
        >
            Tecnología invisible.
        </h2>
        <div
            class="text-lg md:text-xl font-sans font-light text-zinc-300 w-full space-y-4"
        >
            <p>
                En su núcleo, Spoonergy™ está fabricada con una aleación
                resonante diseñada para interactuar con las frecuencias
                naturales del cuerpo.
            </p>
            <p>
                Cada movimiento genera una sincronización sutil entre cuerpo,
                mente y entorno.
            </p>
            <p>
                No necesitas entenderlo para sentirlo.<br />Solo necesitas
                usarla.
            </p>
        </div>
    </div>
</section>
