---
import { TestimonialGrid } from "./TestimonialGrid";
---

<section
    class="min-h-[100vh] w-full flex flex-col items-center justify-center relative bg-transparent py-24"
>
    <div class="w-full">
        <TestimonialGrid client:visible />
    </div>
</section>
