---
import TestimonialGridStatic from "./TestimonialGridStatic.astro";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props;
---

<section
    class="min-h-[100vh] w-full flex flex-col items-center justify-center relative bg-transparent py-24"
>
    <div class="w-full">
        <TestimonialGridStatic lang={lang} />
    </div>
</section>
