---
import { useTranslations } from "../i18n/utils";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<section
  class="min-h-[100vh] w-full flex items-center justify-start px-10 md:px-32 relative"
>
  <div
    class="relative z-[60] max-w-2xl text-left pointer-events-none drop-shadow-lg"
  >
    <h2
      class="text-3xl md:text-5xl font-serif text-zinc-300 tracking-tight leading-snug mb-6"
    >
      {t('transition.title')}
    </h2>
    <h3
      class="text-xl md:text-3xl font-serif text-zinc-400 tracking-tight leading-relaxed mb-6"
    >
      {t('transition.subtitle')}
    </h3>
    <p class="text-lg md:text-xl font-sans font-light text-zinc-500 max-w-xl">
      <Fragment set:html={t('transition.description')} />
    </p>
  </div>
</section>
