---

---

<section
  class="min-h-[100vh] w-full flex items-center justify-start px-10 md:px-32 relative"
>
  <div
    class="relative z-[60] max-w-2xl text-left pointer-events-none drop-shadow-lg"
  >
    <h2
      class="text-3xl md:text-5xl font-serif text-zinc-300 tracking-tight leading-snug mb-6"
    >
      Spoonergy™ no es una simple cuchara.
    </h2>
    <h3
      class="text-xl md:text-3xl font-serif text-zinc-400 tracking-tight leading-relaxed mb-6"
    >
      Es una nueva forma de interactuar con tu día a día.
    </h3>
    <p class="text-lg md:text-xl font-sans font-light text-zinc-500 max-w-xl">
      Lo que antes era automático, ahora es consciente.<br />
      Lo que antes era rutina, ahora es presencia.
    </p>
  </div>
</section>
